WpfApplication1/Service References/FacadeService/FacadeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FacadeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://flcchicago:8699/FacadeService/FacadeService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://flcchicago:8699/FacadeService/FacadeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/flcFacadeService" />
      <xsd:import schemaLocation="http://flcchicago:8699/FacadeService/FacadeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://flcchicago:8699/FacadeService/FacadeService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFacadeService_GetInstruments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInstruments" />
  </wsdl:message>
  <wsdl:message name="IFacadeService_GetInstruments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInstrumentsResponse" />
  </wsdl:message>
  <wsdl:message name="IFacadeService_GetInstruments_FacadeFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/flcFacadeService" name="detail" element="q1:FacadeFault" />
  </wsdl:message>
  <wsdl:message name="IFacadeService_GetTickerByMappingSrcToDest_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTickerByMappingSrcToDest" />
  </wsdl:message>
  <wsdl:message name="IFacadeService_GetTickerByMappingSrcToDest_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTickerByMappingSrcToDestResponse" />
  </wsdl:message>
  <wsdl:message name="IFacadeService_GetTickerByMappingSrcToDest_FacadeFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/flcFacadeService" name="detail" element="q2:FacadeFault" />
  </wsdl:message>
  <wsdl:message name="IFacadeService_GetDataSources_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataSources" />
  </wsdl:message>
  <wsdl:message name="IFacadeService_GetDataSources_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataSourcesResponse" />
  </wsdl:message>
  <wsdl:message name="IFacadeService_GetDataSources_FacadeFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/flcFacadeService" name="detail" element="q3:FacadeFault" />
  </wsdl:message>
  <wsdl:message name="IFacadeService_GetRatesMatrix_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRatesMatrix" />
  </wsdl:message>
  <wsdl:message name="IFacadeService_GetRatesMatrix_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRatesMatrixResponse" />
  </wsdl:message>
  <wsdl:message name="IFacadeService_GetRatesMatrix_FacadeFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/flcFacadeService" name="detail" element="q4:FacadeFault" />
  </wsdl:message>
  <wsdl:message name="IFacadeService_GetTimeSeries_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeSeries" />
  </wsdl:message>
  <wsdl:message name="IFacadeService_GetTimeSeries_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeSeriesResponse" />
  </wsdl:message>
  <wsdl:message name="IFacadeService_GetTimeSeries_FacadeFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/flcFacadeService" name="detail" element="q5:FacadeFault" />
  </wsdl:message>
  <wsdl:portType name="IFacadeService">
    <wsdl:operation name="GetInstruments">
      <wsdl:input wsaw:Action="http://tempuri.org/IFacadeService/GetInstruments" message="tns:IFacadeService_GetInstruments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFacadeService/GetInstrumentsResponse" message="tns:IFacadeService_GetInstruments_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IFacadeService/GetInstrumentsFacadeFaultFault" name="FacadeFaultFault" message="tns:IFacadeService_GetInstruments_FacadeFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTickerByMappingSrcToDest">
      <wsdl:input wsaw:Action="http://tempuri.org/IFacadeService/GetTickerByMappingSrcToDest" message="tns:IFacadeService_GetTickerByMappingSrcToDest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFacadeService/GetTickerByMappingSrcToDestResponse" message="tns:IFacadeService_GetTickerByMappingSrcToDest_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IFacadeService/GetTickerByMappingSrcToDestFacadeFaultFault" name="FacadeFaultFault" message="tns:IFacadeService_GetTickerByMappingSrcToDest_FacadeFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataSources">
      <wsdl:input wsaw:Action="http://tempuri.org/IFacadeService/GetDataSources" message="tns:IFacadeService_GetDataSources_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFacadeService/GetDataSourcesResponse" message="tns:IFacadeService_GetDataSources_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IFacadeService/GetDataSourcesFacadeFaultFault" name="FacadeFaultFault" message="tns:IFacadeService_GetDataSources_FacadeFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRatesMatrix">
      <wsdl:input wsaw:Action="http://tempuri.org/IFacadeService/GetRatesMatrix" message="tns:IFacadeService_GetRatesMatrix_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFacadeService/GetRatesMatrixResponse" message="tns:IFacadeService_GetRatesMatrix_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IFacadeService/GetRatesMatrixFacadeFaultFault" name="FacadeFaultFault" message="tns:IFacadeService_GetRatesMatrix_FacadeFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTimeSeries">
      <wsdl:input wsaw:Action="http://tempuri.org/IFacadeService/GetTimeSeries" message="tns:IFacadeService_GetTimeSeries_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFacadeService/GetTimeSeriesResponse" message="tns:IFacadeService_GetTimeSeries_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IFacadeService/GetTimeSeriesFacadeFaultFault" name="FacadeFaultFault" message="tns:IFacadeService_GetTimeSeries_FacadeFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFacadeService" type="tns:IFacadeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetInstruments">
      <soap:operation soapAction="http://tempuri.org/IFacadeService/GetInstruments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FacadeFaultFault">
        <soap:fault use="literal" name="FacadeFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetTickerByMappingSrcToDest">
      <soap:operation soapAction="http://tempuri.org/IFacadeService/GetTickerByMappingSrcToDest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FacadeFaultFault">
        <soap:fault use="literal" name="FacadeFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDataSources">
      <soap:operation soapAction="http://tempuri.org/IFacadeService/GetDataSources" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FacadeFaultFault">
        <soap:fault use="literal" name="FacadeFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetRatesMatrix">
      <soap:operation soapAction="http://tempuri.org/IFacadeService/GetRatesMatrix" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FacadeFaultFault">
        <soap:fault use="literal" name="FacadeFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetTimeSeries">
      <soap:operation soapAction="http://tempuri.org/IFacadeService/GetTimeSeries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FacadeFaultFault">
        <soap:fault use="literal" name="FacadeFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FacadeService">
    <wsdl:port name="BasicHttpBinding_IFacadeService" binding="tns:BasicHttpBinding_IFacadeService">
      <soap:address location="http://flcchicago:8699/FacadeService/FacadeService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>